@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
    margin:0;
    padding: 0;
}

/* Cabeçalho */
.logo {
    display: flex;
    align-items: center;
}

.logo1 {
    height: 20vh;
    margin-right: 12vh;
}

header {
    background-color:#142434;
    color: #68D2CB;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

nav li {
    display: inline;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: #68D2CB;
    font-family:'Kiwi Maru', serif;
    font-size: 20px;
}

nav a:hover{
    color: #848C9C;
}

/*Corpo do site - Página inicial */
main{
    display: flex;
    min-height: 70vh;
}

main section{
    margin: 10px;
    padding: 10px;
}

#resumo {
    display: block;
    flex-direction: column;
    justify-content: center;
}

body {
    font-family:'Kiwi Maru', serif;
    margin:0;
}

/* Rodapé */
#redes-sociais {
    height: 10vh;
}

footer{
    display: flex;
    background-color:#142434;
    color: #68D2CB;
    bottom:0;
    justify-content: space-around;
    align-items: center;
    height: 14vh;
    width: 100%;
    padding: 0 10px;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width:414px){
    .media {
        display: flex;
        flex-direction: column;
    }

    body{
        padding-bottom: 30vh;
    }

    footer{
        min-height: 25vh;
    }
}